.inputTextField .MuiOutlinedInput-root {
    border-radius: 30px;
    background-color: #FAE2E1;
}

.inputTextField .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: black;
    border-width: 1px;
}

.inputTextField .MuiInputLabel-root.Mui-focused {
    color: black;
}

.inputTextField .MuiFormHelperText-root {
    background-color: #FAE2E1;
    border-radius: 4px;
}

.inputTextField2 .MuiFilledInput-root {
    background-color: #f3f3f3;
    min-height: 30px;
    align-items: center;
    display: flex;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 12px;
}

.inputTextField2 .MuiFilledInput-root:hover {
    background-color: #f3f3f3;
}

.inputTextField2 .MuiFilledInput-root.Mui-focused {
    background-color: #f3f3f3;
}

.inputTextField2 .MuiFilledInput-root:before,
.inputTextField2 .MuiFilledInput-root:after {
    display: none;
}

.inputTextField2 .MuiFilledInput-root input {
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.inputTextField2 .MuiFilledInput-root textarea {
    padding: 0;
    height: 100%;
    margin-top: -17px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.inputTextField2 .MuiFormHelperText-root {
    background-color: #FAE2E1;
    border-radius: 4px;
}

.inputTextLabel {
    color: black;
    padding-left: 10px;
    font-size: 12px !important;
}

.inputBox {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.select-form-control {
    background-color: #f3f3f3;
    height: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.select-form-control .MuiOutlinedInput-root {
    border-radius: 10px;
}

.select-form-control .MuiOutlinedInput-root fieldset {
    border: none;
}

.select-form-control .MuiSelect-select {
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 15px;
}

.select-menu {
    border-radius: 15px !important;
}

.select-menu .MuiMenuItem-root.Mui-selected {
    background-color: #FAE2E1;
    color: black;
}

.select-menu .MuiMenuItem-root.Mui-selected:hover {
    background-color: #f3f3f3;
}

.helperText {
    background-color: #FAE2E1;
    color: #D32F2F !important;
    border-radius: 4px;
    width: 95%;
}

.MuiPickersYear-yearButton {
    color: black;
    background-color: transparent;
}

.MuiPickersYear-yearButton:hover {
    background-color: #ffe5ec;
}

.MuiPickersYear-yearButton.Mui-selected {
    background-color: #F44565 !important;
    color: white;
}

.MuiPickersDay-root {
    transition: background-color 0.3s ease;
}

.MuiPickersDay-root.Mui-selected {
    background-color: #F44565 !important;
}

.MuiPickersDay-root.MuiPickersDay-today {
    border: 1px solid #F44565;
}

.MuiPickersDay-root:hover {
    background-color: #ffe5ec;
}

.dynamicSelect-selectedValuesBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width: 95%;
    background-color: #f3f3f3;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}

.dynamicSelect-selectedValue {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ffe5ec;
    border-radius: 10px;
    border: 1px solid #000
}

.dynamicSelect-selectedValueText {
    font-weight: bold;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.imageInputBox {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    overflow: hidden;
    background-color: #f3f3f3;
}

.listimageInputBox {
    height: 150px;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    border-radius: 8px;
    overflow: hidden;
    background-color: #EDEDED;
    gap: 20px;
    overflow-x: auto;
}

.switchInput {
    width: 65px !important;
}

.switchInput .MuiSwitch-switchBase {
    padding: 1px;
    transform: translateX(12px) translateY(12px);
}

.switchInput .MuiSwitch-switchBase+.MuiSwitch-track {
    height: 22px;
    background-color: #ccc;
    opacity: 1;
}

.switchInput .MuiSwitch-switchBase.Mui-checked {
    color: #fff;
    transform: translateX(31px) translateY(12px);
}

.switchInput .MuiSwitch-switchBase.Mui-checked+.MuiSwitch-track {
    height: 22px;
    background-color: #F44565;
    opacity: 1;
}

.switchInput .MuiSwitch-thumb {
    width: 20px;
    height: 20px;
}

.switchInput .MuiSwitch-track {
    border-radius: 13px;
    background-color: #ccc;
    opacity: 1;
    transition: background-color 300ms;
}

.default-button {
    background-color: #F44565 !important;
    color: white !important;
    border: none !important;
    border-radius: 10px !important;
    width: 50% ;
    cursor: pointer !important;
}

.delete-image-button{
    background-color: transparent !important;
    width: 24px !important;
    height: 24px !important;
    color: white !important;
}

.delete-image-button:hover{
    background-color: #f44565b0 !important;
    color: white !important;
}

.delete-image-button2{
    width: 24px !important;
    height: 24px !important;
    color: #F44565 !important;
}

.delete-image-button2:hover{
    background-color: #F44565 !important;
    color: white !important;
}