.not-selected{
    background-color: #FAE2E1 !important;
    color: black !important;
    border: none !important;
    border-radius: 10px !important;
    gap: 5px !important;
}

.not-selected:hover{
    background-color: #eac8c7 !important;
}

.view-permission{
    background-color: #3DC94B !important;
    color: white !important;
    border: none !important;
    border-radius: 10px !important;
    gap: 5px !important;
}

.view-permission:hover{
    background-color: #2c9b3a !important;
}

.create-permission {
    background-color: #29AAE1 !important;
    color: white !important;
    border: none !important;
    border-radius: 10px !important;
    gap: 5px !important;
}

.create-permission:hover {
    background-color: #1882af !important;
}

.edit-permission {
    background-color: #FBB03B !important;
    color: white !important;
    border: none !important;
    border-radius: 10px !important;
    gap: 5px !important;
}

.edit-permission:hover {
    background-color: #df8e02 !important;
}

.delete-permission {
    background-color: #F44565 !important;
    color: white !important;
    border: none !important;
    border-radius: 10px !important;
    gap: 5px !important;
}

.delete-permission:hover {
    background-color: #C82333 !important;
}

.movil-permission{
    background-color: #F44565 !important;
    color: white !important;
    border: none !important;
    border-radius: 10px !important;
    gap: 5px !important;
}

.movil-permission:hover{
    background-color: #C82333 !important;
}