.menuOpen {
    background-color: #37474F !important;
    color: white !important;
}

.menuClosed {
    background-color: white !important;
    color: #37474F !important;
}

.menuOpen:hover {
    cursor: default;
}

.menuClosed:hover {
    background-color: #E0E0E0 !important;
    color: #37474F !important;
}